wheel==0.36.2
google-auth-httplib2
google-auth-oauthlib
google-api-python-client==2.65.0
Babel==2.9.1
pandas==1.2.4
numpy==1.22.0
tensorflow==2.9.3
tensorflow-hub==0.12.0
tensorflow-text==2.9.0
scikit-learn==0.24.1
colorama
